
#delete {
    cursor: pointer
}



.ListItems p {
    margin: 0;
    text-align: center;
    padding: 10px 0;
     width: 100%;
}

.ListItems span {
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    border: 0.2px solid rgba(0, 0, 0, 0.2);
    margin: 0;
}

.ListItems span.title {
    background: rgba(255, 255, 255, 0.4);
    color: #000;
  
}
/* .header span {
    display: inline-block;
} */
.action {
    color: rgb(211, 81, 81);
}